#inputContainer {
    display: flex;
    margin-bottom: 10px; /* Optional: Adjust the spacing between input fields */
}

#inputfield {
    position:absolute;
    width: 220px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 50px; /* Optional: Adjust the spacing between label and input */
    margin-top:5px;
}
