#navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 240px;
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000; 

}

#nav-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 10001; 
}
.navallgoimg{
  position: absolute;
  top:-30px;
  left:60px;  
  width:80px;
  height:30px;
}
.nav-link {
  width: 120px;
  color: white;
  margin-bottom: 1px;
  margin-left: 0px;
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.nav-link:nth-child(8)::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 180px;
  height: 1.5px;
  background-color: white;
}

.nav-item:hover {
  background-color: rgba(228, 228, 228, 0.231);
  border-radius: 10px;
}

#homeimg {
  position: absolute;
  left: 25px;
  top: 30px;
  height: 20px;
  width: 20px;
}

#myappsimg {
  position: absolute;
  left: 25px;
  top: 92px;
  height: 20px;
  width: 20px;
}

#analyticsimg {
  position: absolute;
  left: 25px;
  top: 152px;
  height: 20px;
  width: 20px;
}

#profileimg {
  position: absolute;
  left: 25px;
  top: 213px;
  height: 20px;
  width: 20px;
}

#settingimg {
  position: absolute;
  left: 25px;
  top: 275px;
  height: 20px;
  width: 20px;
}

#logoutimg {
  position: absolute;
  left: 25px;
  top: 336px;
  height: 20px;
  width: 20px;
}
