#secbtn{
    width: 80px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.612);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#secbtn:hover {
    background-color: rgba(0, 0, 0, 0.886)
}
