.app-details-container {
    max-width: 800px;
    margin-top: 50px;
    margin-left: 300px;
    padding: 20px;
}

.app-nametext {
    margin-top: 0px;
    margin-left: 35px;
    color: #333;
    font-size: 40px;
    font-weight: bold;
}

.selection-container{
    display: flex;
    align-items: center; /* Align items vertically centered */
    margin-top:100px;
    margin-left:200px;
}
.selection-container p {
    cursor: pointer;
    margin-top:-30px;
    margin-bottom: 10px;
    margin-right: 70px; /* Adjust the value as needed */
    transition: color 0.3s, opacity 0.3s; /* Smooth transitions */
}
.basic-info,
.media,
.validation {
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid transparent; /* Add a transparent border initially */
}

.basic-info:hover,
.media:hover,
.validation:hover {
  border-color: #007bff; /* Change border color on hover */
}

.active {
  font-weight: bold; /* Make the active tab bold */
  color: #007bff; /* Change text color of active tab */
  border-color: #007bff; /* Change border color of active tab */
}

.app-info1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:10px;
    margin-bottom:20px;

}
.app-info2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:-15px;
    margin-bottom:0px;
}

.info-label {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.eachDetail {
    margin-top:10px;
    margin-bottom: 37px;
}

.app-info1 input {
    position: relative;
    width: 220px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
}
.rhs {
    margin-top:  -400px;
    margin-left: 420px;
}

.longdesc-span{
    position: absolute;
    top: 300px;
    font-weight: bold;

}
.longdesc-input {
    position: relative;
    margin-top: -390px; /* Adjust as necessary for proper alignment */
    margin-left:0px;
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.shortdesc-input{
    position: relative;
    margin-top: 9px;
    width: 300px;
    height:100px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.app-info p {
    margin-bottom: 10px;
}
.media-section {
    margin-top: 10px;
}

.screenshot {
    width: 150px;
    height: 100px;
    border-radius: 10px;
   margin:10px;
}

.screenshot-container {
    display: flex;
    align-items: center;
    margin:10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.upload-screenshot{
    margin-left:10px;
    background-color: black;
    color:white;
    border-radius: 3px;
    height: 30px;
    width:80px;
}
.index-no{
    margin-left:15px;
}
.delete-icon{
    height:20px;
    width:20px;
    margin-left:400px;
    cursor: pointer;
}

.app-icons {
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
}
.edit-appicon{
    height: 20px;
    width:20px;
    margin-left: 120px;
    margin-top:-40px;
    cursor: pointer;
}
.edit-appvideo{
    height: 20px;
    width:20px;
    margin-left: 290px;
    margin-top:-30px;
    cursor: pointer;
}

.app-icon-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.sample-videos {
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
}

#video-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    width: 30%;
}

#deleteappbutton {
    margin-left: 600px;
    margin-bottom: -40px;
}

#editappbutton {
    margin-top:-10px;
    margin-left: 600px;
 
}
#analysisbtn {
    position:absolute;
    margin-left: 400px;
    margin-top:0px;
}

#bigbtn {
    position:absolute;
    margin-left: 600px;
    margin-bottom: 40px;
}

.updatebutton {
    margin-left: 650px;
    margin-bottom: 40px;
}

.statusvalue {
    margin-left: 10px;
}

.validation-container {
    max-width: 760px;
    margin-top: 0px;
    margin-left: 320px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.heading-validation {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

.testcases {
    display: flex;
    flex-direction: column;
}

.testcase-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.testcase-text {
    flex-grow: 1;
    margin: 0;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

.pass-buttons {
    display: flex;
    gap: 10px;
    margin-right: 70px;
}

.fail-buttons {
    display: flex;
    gap: 10px;
    margin-right: 120px;
}
.appinfo-edit-icon{
    margin-left:90px;
    height: 20px;
    cursor: pointer;
}

.edit-icon{
    height: 20px;
    cursor: pointer;
}
.edit-icon.disabled{
    cursor: not-allowed;
}

.finalbtns {
    padding: 20px;
    margin-left:60px;
}

.approve-button, .reject-button {

    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.approve-button {
    background-color: #28a745;
    margin-left: 500px;
}

.approve-button:hover {
    background-color: #218838;
}

.reject-button {
    background-color: #dc3545;
    margin-left: 60px;
}

.reject-button:hover {
    background-color: #c82333;
}

.approve-button.disabled, .reject-button.disabled, .pass-buttons.disabled, .fail-buttons.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.status {
    position: relative;
    margin-top: 10px;
    margin-left: 600px;
}

.statusresult {
    position: absolute;
    right: 270px;
}
