.container {
    position: absolute;
    left: 300px;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    top:0px;
}

.metadata {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.label {
    font-weight: bold;
    margin-right: 5px; 
}

.value {
    margin-bottom: 10px;
}

.metadata-item {
    margin-bottom: 10px; 
}

.label,
.value {
    display: inline-block; /* Display label and value as inline-block */
    margin-right: 10px; /* Add space between label and value */
}
