
body{
  background-color: hsla(240, 8%, 95%, 0.5);
}
.app-container {
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    left:240px;
    top:0px;
  }
  .app-item {
    left: 50px;
    width: 800px; 
    margin: 10px; 
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
  }
  .app-name {
    font-size: 16px;
    margin: 0;
    color: #333;
  }
  #applists{
    position:relative;
    left:50px;  
  }

  #submit_icon{
    position: absolute;
    left:150px;
    top:70px;
   height:15px;
    z-index: 100;
  }

  #newappbtn{
    position: absolute;
    left:1010px;
    top:45px;
    z-index: 100000;
  }