#bgcontainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(74, 72, 77, 0.53);
}

#reg-container {
    position: absolute;
    left: 400px;
    top: 50px;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background-color: rgba(241, 241, 243, 0.705);
}

#regtext {
    position: absolute;
    top: 50px;
    left: 150px;
    font-size: larger;
    font-weight: bolder
}

#usernameinput {
    position: absolute;
    top: 100px;
    left: 80px;

}

#passwordinput {
    position: absolute;
    top: 190px;
    left: 80px;
}

#confirminput {
    position: absolute;
    top: 280px;
    left: 80px;
}

#roletext {
    position: absolute;
    left: 80px;
    top: 370px;
}

#role {
    position: absolute;
    left: 80px;
    top: 400px;
    width: 220px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#regbtn {
    position: absolute;
    top: 490px;
    left: 240px;
}

#gobackbtn {
    position: absolute;
    top: 490px;
    left: 60px;
}

#roleerror {
    position: absolute;
    top: 430px;
    left: 80px;
}

.error {
    position: absolute;
    color: red;
    font-size: 0.8rem;
    margin-top: 50px;
    top: 400px;
    left: 80px;
}